[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ebtc"]
	path = lib/ebtc
	url = https://github.com/ebtc-protocol/ebtc
[submodule "lib/properties"]
	path = lib/properties
	url = https://github.com/crytic/properties
